:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --logo-color: #000;
}

/* font-family: 'Raleway', sans-serif; */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-color);
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol,
a {
  text-decoration: none;
}
