:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196F3;
  --white-text-color: #fff;
  --white-opacity-text-color: rgba(255, 255, 255, 0.6);

  --primary-background-color: #fff;
  --secondary-background-color: #F5F4FA;
  --accent-background-color: #2196F3;
  --dark-background-color: #2F303A;

  --logo-color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}

.container {
  
}

/* Studio */
.header {
  background-color: var(--primary-background-color);
}

.nav,
.contact-item {
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
}


.logo-nav {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  
}

.logo-accent {
  color: var(--accent-text-color);
}

.contact-link[href^="mailto"],
.contact-link[href^="tel"] {
  color: var(--primary-text-color);
  font-weight: 500;
}

.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
  color: var(--accent-text-color);
}

.hero {
  text-align: center;
  background-color: var(--dark-background-color);
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  text-transform: uppercase;
}

.hero-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  background-color: var(--accent-background-color);
  border: none;
  border-radius: 4px;

  cursor: pointer; 
}

.benefits {
  background-color: var(--primary-background-color);
}

.benefits-title, 
.benefits-desc {
  font-size: 14px;
}

.benefits-title {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.benefits-desc {
  font-weight: 400;
  color: var(--primary-text-color);
}

.services {
  background-color: var(--primary-background-color);
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.team {
  background-color: var(--secondary-background-color);
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text-color);
}

/* Portfolio */
.portfolio-btn {
  font-size: 16px;
  color: var(--secondary-text-color);
  font-weight: 500;

  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-background-color);
}

.portfolio-work-link {
  color: var(--secondary-text-color);
}

.portfolio-work-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.portfolio-work-desc {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* Footer */
.footer {
  background-color: var(--dark-background-color);
}

.logo-footer {
  color: var(--white-text-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
}

.address-link {
  font-weight: 400;
  color: var(--white-text-color)
}

.address-link[href^="mailto"],
.address-link[href^="tel"] {
  color: var(--white-opacity-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-text-color);
}

/* Assets */
.active {
  color: var(--accent-text-color);
}

.title-hidden {
  display: none;
}